:root {
    --brand: #7f2a1b;
    --ink: #12181f;
    --muted: #6b7885;
    --space: 1rem;
}
*, *::before, *::after {
    box-sizing: border-box;
}

main, body, form {
max-width: 40rem;
margin: var(--space);
padding: var(--space);
}

fieldset {
    border: 1px solid var(--muted);
    border-radius: 1rem;
    padding: 0;
}

form label {
    display:inline-block;
    width: 5rem;
    margin-bottom: var(--space);
}



a { color: var(--brand); }
h1 { color: var(--ink); }
body { color: var(--ink); background: #e6eced;  }
p { margin-bottom: var(--space); }
h1, h2, h3, h4, h5, h6 { margin-bottom: var(--space); }
nav a { margin-right: var(--space); }
footer { margin-top: var(--space); color: var(--muted); }
figcaption {color: var(--brand);}
table { color:var(--muted);}


